{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
